BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
PointerAlignment: Right
InsertBraces: true
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
IndentCaseLabels: true
IndentGotoLabels: false
AlignConsecutiveMacros:
  Enabled: true